<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>

    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <appSettings>
    <!--读取状态时间-->
    <add key="looptimes" value="10"/>
    <!--快速扫描列表刷新时间（单位：秒）-->
    <add key="FastFlashTime" value="10"/>
    <!--代理公司名称（以英文“,”间隔）-->
    <add key="DLGS" value="aaaa,bbbb,cccc"/>
  </appSettings>
  <connectionStrings>
    <add name="ConnString" connectionString="Server=.;Database=HangZhouLiHuo;Uid=sa;Pwd=sasa;Max Pool Size=500" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
